<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>大学英语四六级查询</title>
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/css/main.css"/>
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="container-fluid wrapper">
    <div class="row">
        <h1>
            欢迎使用大学英语四六级查询
        </h1>
    </div>
    <div class="row">
        <form id="form">
            <div class="input-group">
                <span class="input-group-addon" id="uid">准考证号</span>
                <input type="text" class="form-control" placeholder="请输入四六级准考证号" name="id" aria-describedby="uid">
            </div>
            <div class="input-group">
                <span class="input-group-addon" id="username">考生姓名</span>
                <input type="text" class="form-control" placeholder="请输入姓名" name="username" aria-describedby="username">
            </div>
            <div class="center">
                <button type="button" class="btn btn-success" id="query">查询</button>
            </div>
        </form>
    </div>
</div>
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<!--<script src="http://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>-->
<script>
    (function($){
        $('#query').click(function(){
            //check
            var $data = $('#form').serialize();
            $.post('__ROOT__/Api/Index/find', $data).success(function(res){
                console.log(res);
            });
        });
    })(jQuery);
</script>
</body>
</html>